- name: Handler demonstration
  hosts: all
  become: true

  tasks:
    - name: Install httpd
      dnf:
        name: httpd
        state: present

    - name: Deploy custom httpd config
      copy:
        content: |
          # Managed by Ansible
          ServerName {{ ansible_hostname }}
        dest: /etc/httpd/conf.d/custom.conf
        mode: "0644"
      notify: restart httpd

  handlers:
    - name: restart httpd
      service:
        name: httpd
        state: restarted
